<h3>Welcome to Elearn</h3>
<p>
  Elearn is a simple and free online learning platform. Instructores can create courses
  and students can register for courses which include assignments, quizzes and support
  forums.
</p>
<a class="button" href="/users/register">Sign Up Free</a>
<p>You need to signup to register for a free class</p>
